/.github/workflows
/Binaries
/DerivedDataCache
/Intermediate
/Saved
/Content/A_Surface_Footstep
/Content/AnimStarterPack
/Content/Audio
/Content/FPS_Weapon_Bundle
/Content/FXVillesBloodVFXPack
/Content/KiteDemo
/Content/Maps
/Content/Meshes
/Content/ParagonGrux
/Content/ParagonKhaimera
/Content/ParagonLtBelica
/Content/ParagonPhase
/Content/ParagonProps
/Content/ParagonTwinblast
/Content/SampleMap
/Content/Textures
/Content/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace